<!DOCTYPE html>
<html>
	<head>
		<title>Cjpoll</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'styles-greyred', id: "theme-styles" %>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'application' %>
	</head>
	<body>
		<div id="application"></div>
	</body>
</html>
